<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Sus Productos</ng-template>
      <div *ngIf="(products$ | async) as productos">
        <p *ngIf="productos.length === 0">no hay productos</p>
         <ul>
          <li *ngFor="let product of productos">
          {{ product.title }}
         </li>
       </ul>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos personales</ng-template>
    <h1>Contenido</h1>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pago</ng-template>
    <h1>Contenido</h1>
  </mat-step>
</mat-horizontal-stepper>
