
<input type="text" [(ngModel)] = "title">
{{ title }}

<input type="text" [(ngModel)] = "power">
  {{power | exponential}}

<!-- ng if -->
<div *ngIf="title === 'enrique'">
  este es un kike
</div>

<div *ngIf="title === 'derick'">
  este es un derick
</div>

<div *ngIf="title === 'diana'">
  este es diana
</div>

<!-- ngSwitch-->
<div [ngSwitch]= "title">
    <p *ngSwitchCase="'enrique'">este es kike, dentro del Switch </p>
    <p *ngSwitchCase="'derick'">este es derick, dentro del Switch</p>
    <p *ngSwitchCase="'diana'">este es diana, dentro del Switch</p>
    <p *ngSwitchDefault>No hay match</p>
</div>

<!-- evento -->
<button (click)="addItem()">agregar Item</button>

<!-- ng for -->
<ul>

  <!-- pregunta si la lista esta vacia-->
  <li *ngIf="items.length === 0">la lista esta vacia </li>

  <!--uso del ngFor add y delete-->
  <li *ngFor="let nombre of items; index as i">
    {{ nombre }} {{ i }} <!--agregar los items en la lista -->
    <button (click)="deleteItem(i)">Borrar item</button>
  </li>
</ul>


