<div class="swiper-container">
  <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let img of images">
        <img [src]="img" alt="imagen de banner">
      </div>
  </div>
</div>
