<mat-card>
  <mat-card-header>
    <mat-card-title>{{product.title | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency: "L." }}</mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.image" alt="">
  </div>
  <mat-card-content>
    <p>{{ product.description | slice:0:10  }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button [routerLink]="['/products', product.id]">Ver Detalle</a>
    <button (click)="addCart()" mat-raised-button color="primary">Agregar al carrito</button>
  </mat-card-actions>
</mat-card>

<!--
<h3 appHighlight>{{product.title | uppercase}}</h3>
para ver la imagenes del array
<img [src]="product.image" alt="">
<strong>{{ product.price | currency: "L." }}</strong>
<p>{{ product.description | slice:0:10  }}</p>
<p>{{ today | date: 'medium'  }}</p>-->


