<mat-toolbar color="primary" >
  <mat-toolbar-row class="alto">
    <div class="row bottom-xs ">
      <div class="col-xs-6">
        <div class="box">
            <h4>Productos</h4>
        </div>
        <p>Nuevos Productos</p>
        <p>En oferta</p>
        <p>Ultimos productos</p>
      </div>
      <div class="col-xs-3">
        <div class="box">
            <h4>Acerca de Pulperia Belkin</h4>
        </div>
        <p>Sobre nosotros</p>
        <p>Nuestras tiendas</p>
      </div>
      <div class="col-xs-2 col-md-4">
        <div class="box">
            <h4>Contacto</h4>
            <mat-form-field>
              <input matInput placeholder="Digite su correo" [formControl]="emailField" type="email">
            </mat-form-field>
              <!--{{ emailField.valid }}, {{ emailField.invalid }}
                  si el campo cumple la validacion aparecera un boton
                  <button *ngIf="emailField.valid">Enviar</button>-->
            <button mat-raised.button [disabled]="emailField.invalid" (click)="sendMail()">Enviar</button>
        </div>
      </div>
    </div>

  </mat-toolbar-row>
</mat-toolbar>



